@inject ISnackbar Snackbar

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.DeleteForever" Class="mr-3 mb-n1" />
            Delete Account
        </MudText>
    </TitleContent>
    <DialogContent>
        <p>Are you sure you want to delete the account @AccountName?</p>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Error" OnClick="DeleteAccount">Delete Account</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public string AccountName { get; set; }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void DeleteAccount()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }
}