@using BudgetR.Modules.Layout
@using BudgetR.Core.Enums
@using BudgetR.Server.Handlers.Handlers.Registration
@inject ISnackbar Snackbar

@page "/finishregistration"

<PageTitle>Registration</PageTitle>

<h1>Registration</h1>

<ToolBarPageTemplate BodyColums="8" ToolBarColumns="8">
    <ToolBarTitle>My Accounts</ToolBarTitle>
    <ToolBarLeftSide></ToolBarLeftSide>
    <ToolBarRightSide>
        <MudButton Variant="Variant.Text" Href="/accounts/add" Style="@($"color:{Colors.Shades.White}")" Edge="Edge.End" Size="Size.Small">Add</MudButton>
    </ToolBarRightSide>
    <Body>
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="Setup Profile">
                <MudText>Setup Profile</MudText>
            </MudTabPanel>
            <MudTabPanel Text="Create or Join Household/Organization">
                <MudText>Create or Join Household/Organization</MudText>
            </MudTabPanel>
        </MudTabs>
    </Body>
</ToolBarPageTemplate>

@code {
    public AuthenticationAction registrationAction { get; set; }
    public int Step { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var result = await _mediator.Send(new GetRegistrationAction.Request());
        if (result.IsSuccess)
        {
            registrationAction = result.Value;

            if (registrationAction == AuthenticationAction.AlreadyFullyRegistered)
            {                
            }
            else if (registrationAction == AuthenticationAction.NoUserExists)
            {
                Step = 1;
            }
            else if (registrationAction == AuthenticationAction.HasNoHousehold)
            {
                Step = 2;
            }
        }
        else
        {
            Snackbar.Add("Cannot load page, please logout and login again.", Severity.Error);
        }
    }
}